<div class="side-bar">
    <div class="sectio">
        <h5>Deshboard</h5>
        <div class="side-bar-slide-item">
            <a class="d-block" href="/dashboard">
                <div class="drop"><i class="fas fa-file"></i> &nbsp; Dashboard</div>
            </a>
        </div>
        <div class="side-bar-slide-item">
            <a class="d-block" href="add-post">
                <div class="drop"><i class="fas fa-file"></i> &nbsp; Add Post</div>
            </a>
        </div>
        <div class="side-bar-slide-item">
            <a class="d-block" href="all-post">
                <div class="drop"><i class="fas fa-file"></i> &nbsp; all Post</div>
            </a>
        </div>
        <div class="side-bar-slide-item">
            <div class="drop"><i class="fas fa-file"></i> &nbsp; Pages <span class="flo-right"><i
                        class=" fas fa-angle-right"></i></span></div>
            <ul class="open-drop">
                <li><a href="#">Details</a></li>
                <li><a href="#">Details</a></li>
                <li><a href="#">Details</a></li>
                <li><a href="#">Details</a></li>
                <li><a href="#">Details</a></li>
            </ul>
        </div>
    </div>
</div>